body{
    box-sizing: border-box;
    margin: 0;
}

/*Colocar imagen de fondo*/
section#header_box {
    background-image: url("../assets/images/hero.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 20cm;
}

/*localizar el header*/
header { 
    background-color: rgba(34, 26, 57, 0.2);
    height: 3cm;
    position: fixed;
    top: 0;
    z-index: 999;
}


header > img{
    margin-left: 0.8cm;
    padding: 1cm;
    width: 7%;
}

nav{
    right: 1.5cm;
    padding: 0.7cm;
    position: absolute;
    top: 0.5cm;
}

nav .menu{
    color: #ffffff;
    font-family: 'Gotham Sm A', sans-serif;
    font-weight: lighter;
    font-size: 130%;
    margin-left: 1.5cm;
    text-decoration: none;
}

.menu:hover{
    color: #FF00BF;
}

.menu:last-child{
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 10%;
    padding: 0.3cm 0.5cm;
}

/*Conteneder de datos*/
#user_information_box{
    background-color: #ffffff;
    height: 10cm;
    position: absolute;
    right: 0;
    top: 3cm;
    width: 11cm;
}
    /*Titulos*/
#titles{
    color: #352384;
    font-family: 'Gotham Sm A', sans-serif;
    padding-left: 1.5cm;
    text-transform: uppercase;
}

#titles h1{
    font-size: 250%;
    margin-bottom: 0;
}

#titles span{
    font-weight: lighter;
}

input{
    border: none;
    font-family: 'Gotham Sm A', sans-serif;
    font-size: 120%;
    font-weight: lighter;
    margin-top: 1cm;
    margin-left: 1.5cm;
}

hr{
    margin-left: 1.5cm;
    width: 80%;
}

#buttons {
    font-family: 'Gotham Sm A', sans-serif;
    left: 1cm;
    margin-top: 0.3cm;
    padding: 0.5cm;
    position: absolute;
    width: 80%;
}

#buttons button.first{
    background-color: #FF00BF;
    border: 1px solid #FF00BF;
    border-radius: 5%;
    cursor: pointer;
    font-size: 110%;
    margin-right: 0.4cm;
    margin-top: 0;
    text-decoration: none;
    padding: 0.5cm;
}

#buttons button.first a{
    color: #ffffff;
}

#buttons button.second{
    background-color: #ffffff;
    border: none;
}

#buttons button.second a{
    text-decoration: none;
}

#small_text{
    left: 1.2cm;
    padding: 0.3cm;
    position: absolute;
    top: 8cm;
}

/*Caja general de la segunda parte*/
#information_box{
    background: -webkit-linear-gradient(top, rgb(107, 16, 139, 1) 0%,rgba(115,38,141,1) 34%,rgba(43,30,102,1) 98%);
    height: 17cm;
    left:0;
    position: absolute;
    top: 15cm;
    width: 100%;;
}

/*informacion */
#container_information{
    color: hsl(0, 0%, 100%);
    float: left;
    font-family: 'Gotham S Sm A', sans-serif;
    font-weight: lighter;
    margin-left: 4cm;
    margin-top: 1cm;
    padding:0.2cm;
    width: 33%;
}

#container_information h2{
    font-size: 180%;
    font-weight: lighter;
    margin-top: 1.5cm;
    text-transform: uppercase;
}

#container_information p{
    font-size:110%
}

/*imagen de celular de la segunda parte*/
#information_box img{
    margin-left: 0.8cm;
    margin-top: 3.5cm;
    width: 40%;
}

/*seccion del primer video */
section#video1_box {
    display:inline-block;
    height: 10cm;
    font-family: "Gotham S Sm A", sans-serif;
    position: absolute;
    top: 32cm;
    width: 100%;
}

#video1_box iframe{
    border: none;
    height:10cm;
    position: absolute;
    right: 0;
    width: 63%;
}

section#video1_box div#text_video1{
    height: 10cm;
    margin-top: 1cm;
    padding: 1cm;
    position: absolute;
    top: 0;
    width: 30%;
}

div#text_video1 a{
    color: #ff00bf;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

div#text_video1 h2{
    font-weight: bold;
    font-size: 180%;
    text-transform: uppercase;
}

div#text_video1 p{
    font-size: 120%;
    font-weight: lighter;
    text-align: justify;
}

/*seccion del segundo video */
section#video2_box {
    display:inline-block;
    height: 10cm;
    font-family: "Gotham S Sm A", sans-serif;
    position: absolute;
    top: 42cm;
    width: 100%;
}

#video2_box iframe{
    border: none;
    height:10cm;
    left: 0;
    position: absolute;
    width: 63%;
}

section#video2_box div#text_video2{
    height: 10cm;
    margin-top: 1cm;
    padding: 1cm;
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
}

div#text_video2 a{
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

div#text_video2 h2{
    font-weight: bold;
    font-size: 180%;
    text-transform: uppercase;
}

div#text_video2 p{
    font-size: 120%;
    font-weight: lighter;
    text-align: justify;
}

/*seccion del tercer video */
section#video3_box {
    display:inline-block;
    height: 10cm;
    font-family: "Gotham S Sm A", sans-serif;
    position: absolute;
    top: 52cm;
    width: 100%;
}

#video3_box iframe{
    border: none;
    height:10cm;
    position: absolute;
    right: 0;
    width: 63%;
}

section#video3_box div#text_video3{
    height: 10cm;
    margin-top: 1cm;
    padding: 1cm;
    position: absolute;
    top: 0;
    width: 30%;
}

div#text_video3 a{
    color: #FF00BF;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

div#text_video3 h2{
    font-weight: bold;
    font-size: 180%;
    text-transform: uppercase;
}

div#text_video3 p{
    font-size: 120%;
    font-weight: lighter;
    text-align: justify;
}

/*Seccion footer*/
#footer_big_container{
    background-color: #333447;
    color: #ffffff;
    height: 10.5cm;
    left: 0;
    position: absolute;
    top:10cm;
    width: 100%;
}

section#columns_footer{
    cursor: pointer;
    display: flex;    
    height: 7cm;
    font-family: "Lato", sans-serif;
    margin-top: 0.5cm;
    text-align: center;
    width: 100%;
}

section#columns_footer .footer_box{
    margin-left: 1cm;
    margin-top: 0.4cm;
}
/*Primera columna*/
section#log_in {
    width: 20%;
}

#log_in h4 a{
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

#log_in small a{
    color: #ffffff;
    display: inline-block;
    padding:2.5mm;
    text-decoration: none;
}

#log_in small a:hover{
    color: #ff00bf;
}

section#partner{
    text-decoration: none;
    width: 20%;   
}
/*Segunda columna*/
#partner h4 a{
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

#partner small a{
    color: #ffffff;
    display: inline-block;
    padding:2.5mm;
    text-decoration: none;
}

#partner small a:hover{
    color: #ff00bf;
}
/*Tercera columna*/
section#learn{
    text-decoration: none;
    width: 20%;
}

#learn h4 a{
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

#learn small a{
    color: #ffffff;
    display: inline-block;
    padding:2.5mm;
    text-decoration: none;
}

#learn small a:hover{
    color: #ff00bf;
}

/*Columna de imagenes*/
#footer_images {
    width: 20%;
}

#footer_images img{
    padding: 0.5cm;
    width: 3cm;
}

section#last_section{
    color: white;
    height: 5cm;
    position: absolute;
    text-align: center;
    top: 7.5cm;
    width: 100%;
}

/*Iconos redes sociales*/
section#last_section #iconos{
    padding: 0.5cm;
}

#iconos a.icono{
    border: 1px solid #ffffff;
    border-radius: 50%;
    color: #ffffff;
    margin: 0.25cm;
    padding: 0.3cm;
    text-align: center;
}

#last_section > hr{
    font-size: 3px white;
    margin-left: 8cm;
    text-align: center;
    width: 10cm;
}

/*Terminos y privacidad*/
#copy_right small.phrase a{
    color: #ffffff;
    text-decoration: none;
}











